{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}

<div class="flex items-center flex-col gap-8 text-left">

    <h1 class="block font-sans text-5xl font-semibold leading-tight tracking-normal text-blue-500 antialiased">
        Contact
    </h1>
    <a href="https://github.com/TheLoneAlchemist/">
        <button
            class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
            Github
        </button>
    </a>
    <a href="https://www.linkedin.com/in/iamdkp7531">
        <button
            class="middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
            Linkedin
        </button>
    </a>
    <a href="#">
        <button
            class="middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
            Project
        </button>
    </a>
   
</div>
{% endblock body %}